<div class="row">
  <section class="user-info">
    <h1 class = 'text-left'>
      <%= gravatar_for @user %>
      <%= @user.name %>
    </h1>
  </section>
</div>
<div class="row">
  <ul class="nav nav-tabs" role='tablist'>

    <li role="presentation" class="active">
      <a href="#account" aria-controls="account" role="tab" data-toggle="tab">Account</a>
    </li>

    <li role="presentation">
      <a href="#expenses" aria-controls="expenses" role="tab" data-toggle="tab">Expenses</a>
    </li>

    <li role="presentation">
      <a href="#contacts" aria-controls="contacts" role="tab" data-toggle="tab">Contacts</a>
    </li>

  </ul>
</div>

<div class='row tab-content'>
  <div id="account" role='tabpanel' class='tab-pane active fade in'>
    <div class="col-md-8">
      <div class="user-details">
        <ul>
          <li>
            <h4>Name</h4>
            <p><%= @user.name %></p>
          </li>
          <li>
            <h4>Email</h4>
            <p><%= @user.email %></p>
          </li>
        </ul>
      </div>
      <%= link_to 'Update my details', '#'  %> | <%= link_to 'Change Password', '#'  %>
    </div>
  </div>
  <div id="expenses"  role='tabpanel' class='tab-pane fade'>
    <div class="col-md-8">
      <div class="user-details">
        <ul>
          <li>
            <h4>Pay Period:</h4>
            <%= form_for current_user,  method: :put,
                                        url: update_pay_period_path,
                                        html: { class: 'form-inline'} do |f| %>
              <%= f.label :pay_period, 'I get paid:' %>
              <div class='input-group'>
                  <%= f.select :pay_period, @frequencies, {}, { class: 'form-control', tabindex: 3 } %>
                  <div class='input-group-btn'>
                    <%= f.submit 'Save', class: 'btn btn-primary' %>
                  </div>
              </div>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div id="contacts"  role='tabpanel' class='tab-pane fade'>
    <div class="col-md-8">
      <br>
      <table class="table table-hover">
        <tr><td>Primary Email</td></tr>
        <tr><td>Backup Email</td></tr>
        <tr><td>Mobile</td></tr>
        <tr><td>Twitter</td></tr>
      </table>
    </div>
  </div>
</div>
